
<div class="<%= location %>">
    <div><%= link_to "Home", root_path %></div>
    <div><%= link_to "pages about", about_path %></div>
    <div><%= link_to "contact page" , contact_path %></div>
    <div><%= link_to "portfolio page" , portfolios_path %></div>
    <div><%= link_to "blog page" , blogs_path %></div>
</div>
    



